// Fonts
@font-face {
  font-family: 'GolosTextWebBold';
  src:
          url('/fonts/PT/PT/Golos-Text/Golos-Text_Bold.woff2') format('woff2'),
          url('/fonts/PT/PT/Golos-Text/Golos-Text_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GolosTextWebDemiBold';
  src:
          url('/fonts/PT/PT/Golos-Text/Golos-Text_DemiBold.woff2') format('woff2'),
          url('/fonts/PT/PT/Golos-Text/Golos-Text_DemiBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GolosTextWebRegular';
  src:
          url('/fonts/PT/PT/Golos-Text/Golos-Text_Regular.woff2') format('woff2'),
          url('/fonts/PT/PT/Golos-Text/Golos-Text_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0 2rem;
  width: 100vw;
  height: 100vh;
}
body > div {
  padding: 0 2rem;
  margin-top: 2rem;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #2A2A2F;
  padding: 0 2rem;
  color: white;
}
header {
  height: 5rem;
  padding: 0.25rem 2rem;
  box-shadow: 0 0 10px  rgba(122,122,122,0.5);
}

.gy-normal {
  margin-bottom: 4rem;
}
.eyes {
  right: 0.5rem;
  top: 0.3rem;
}
.message_mistake {
  color: white;
  background-color: #E53935;
  padding: 0.25rem 0.5rem;
  top: 0.15rem;
  border-radius: 4px;
}
.message_mistake_pass {
  right: -12rem;
  display: none;
}
.message_mistake_mail {
  right: -11.2rem;
}
// Bootstrap
$primary: #FF7315;
$info: #00CC66;
$font-family-base: "GolosTextWebRegular";
$font-family-sans-serif: "GolosTextWebRegular";
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg/>");
@import "../node_modules/bootstrap/scss/bootstrap";
.color_white {
  color: white !important;
}
input {
  font-family: 'GolosTextWebDemiBold' !important;
}
input:invalid {
  color: #E53935;
}
h4, h6 {
  font-family: 'GolosTextWebBold' !important;
}
input:hover {
  cursor: pointer;
}
.btn-active {
  background-color: #F4F5F7;
  border-radius: 0.5rem;
  a {
    color: #00C261 !important;
  }
}