@import "../fonts/PT/Golos-Text/Golos-Text_Bold.css";
@import "../fonts/PT/Golos-Text/Golos-Text_DemiBold.css";
@import "../fonts/PT/Golos-Text/Golos-Text_Regular.css";

body {
  margin: 0 2rem;
  width: 100vw;
}
body.bg-grey {
  height: 100vh;
}
.bg-grey {
  background-color: #F4F5F7;
}
th {
  color: #A1A8B5;
  font-family: "GolosTextWebRegular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  *:hover {
    color: #6B778C;
  }
}
table {
  border: 1px solid black;
  border-radius: 8px;
}
header {
  height: 5rem;
  padding: 0.25rem 2rem;
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.5);
  background-color: white;
}

body div.container-sm {
  padding: 0 2rem;
  margin-top: 10rem;
}
body div.co {
  padding: 0 2rem;
  margin-top: 2rem;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #2A2A2F;
  padding: 0 2rem;
  color: white;
}

.gy-normal {
  margin-bottom: 4rem;
}

.eyes {
  right: 0.5rem;
  top: 0.3rem;
}

.message-mistake {
  color: white;
  background-color: #E53935;
  padding: 0.25rem 0.5rem;
  top: 0.15rem;
  border-radius: 0.25rem;
}

.message-mistake-pass {
  right: -12rem;
  display: none;
}

.message-mistake-mail {
  right: -11.2rem;
}

// Bootstrap
$primary: #FF7315;
$info: #00CC66;
$font-family-base: "GolosTextWebRegular";
$font-family-sans-serif: "GolosTextWebRegular";
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg/>");
@import "../node_modules/bootstrap/scss/bootstrap";

.color-white {
  color: white !important;
}

input {
  font-family: 'GolosTextWebDemiBold', sans-serif !important;
  *:invalid {
    color: #E53935;
  }
  *:hover {
    cursor: pointer;
  }
}

h4, h6 {
  font-family: 'GolosTextWebBold', sans-serif !important;
}

.btn-active {
  background-color: #F4F5F7;
  border-radius: 0.5rem;
  a {
    color: #00C261 !important;
  }
}
// Table
