@import "../fonts/PT/Golos-Text/Golos-Text_Bold.css";
@import "../fonts/PT/Golos-Text/Golos-Text_DemiBold.css";
@import "../fonts/PT/Golos-Text/Golos-Text_Regular.css";
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}
body {
  margin: 0 2rem;
  width: 100vw;
}
body.bg-grey {
  height: 100vh;
  button {
    border-radius: 8px;
  }
}
.bg-grey {
  background-color: #F4F5F7;
}
th {
  color: #A1A8B5;
  font-family: "GolosTextWebRegular", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  cursor: pointer;
}
th:hover {
  color: #6B778C;
}
.table-container {
  border: 1px solid #DFE1E6;
  border-radius: 8px;
}
table {
  tr {
    border-bottom: 1px solid #DFE1E6;
    height: 5rem;
  }
  thead > tr {
    height: 4rem;
  }
  td {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  td, th {
    padding-left: 2rem;
  }
  td:first-child, th:first-child {
    padding-left: 0;
  }
}
.scroll-table-body {
  height: 62vh;
  overflow-x: auto;
}
.scroll-table table {
  width:96.5%;
  table-layout: fixed;
}
.table-tbody {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.table-thead {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
}
/* Стили для скролла */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background-color: #DFE1E6;
  border-radius: 50px;
  border: 3px solid  #DFE1E6;
}
header {
  height: 5rem;
  padding: 0.25rem 2rem;
  box-shadow: 0 0 10px rgba(122, 122, 122, 0.5);
  background-color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  .btn:hover {
    color: #00c261 !important;
  }
  svg {
    fill: #A5ADBA;
  }
  svg:hover {
    fill: #00c261;
  }
}

body div.container-sm {
  padding: 0 2rem;
  margin-top: 10rem;
}
body div.co {
  padding: 0 2rem;
  margin-top: 2rem;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: #2A2A2F;
  padding: 0 2rem;
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.gy-normal {
  margin-bottom: 4rem;
}

.eyes {
  right: 0.5rem;
  top: 0.3rem;
}

.message-mistake {
  color: white;
  background-color: #E53935;
  padding: 0.25rem 0.5rem;
  top: 0.15rem;
  border-radius: 0.25rem;
}

.message-mistake-pass {
  right: -12rem;
  display: none;
}

.message-mistake-mail {
  right: -11.2rem;
}

// Bootstrap
$primary: #FF7315;
$info: #00CC66;
$light: white;
$font-family-base: "GolosTextWebRegular";
$font-family-sans-serif: "GolosTextWebRegular";
$form-feedback-icon-invalid: url("data:image/svg+xml,<svg/>");
@import "../node_modules/bootstrap/scss/bootstrap";

.color-white {
  color: white !important;
}

input {
  font-family: 'GolosTextWebDemiBold', sans-serif !important;
  *:invalid {
    color: #E53935;
  }
  *:hover {
    cursor: pointer;
  }
}

h4, h6 {
  font-family: 'GolosTextWebBold', sans-serif !important;
}

.btn-active {
  background-color: #F4F5F7;
  border-radius: 0.5rem;
  a {
    color: #00C261 !important;
  }
}
.col-date {
  width: toRem(89);
}
.col-num{
  width: toRem(88);
}
.col-service {
  width: toRem(152);
}
.col-status{
  width: toRem(200);
}
.col-author {
  width: toRem(180);
}
.col-desk {
  width: toRem(528);
  cursor: pointer;
}
.col-emer {
  width: toRem(150);
}
.col-time {
  width: toRem(180);
}
.col-send {
  width: toRem(120);
}
.description, .success-time {
  color: #009E4F;
}
.description:hover {
  text-decoration-line: underline;
}
.danger-time {
  color: #DE350B;
}
.waiting {
  color: #DB6900;
  background: #FFE7D0;
  border-radius: 4px;
}
.working {
  color: #0052CC;
  background: #DEEBFF;
  border-radius: 4px;
}
.no-app {
  color: #97A0AF;
  background: #DFE1E6;
  border-radius: 4px;
}
.yes-app {
  color: #009E4F;
  background: #CCF5E0;
  border-radius: 4px;
}
.point-green {
  fill: #36B37E;
}
.point-orange {
  fill: #FF8515;
}
.point-red {
  fill: #FF3F15;
}
.point {
  fill: #C1C7D0;
}
.modal-bg {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 1050;
  height: 100vh;
  width: 100vw;
  background-color: rgba(42, 42, 47, 0.3);
}
.modal-bg:target {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-view {
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 1180px;
  height: 697px;
  transition: opacity 200ms ease-in;
  display: flex;
  justify-content: space-between;
}

.close {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #A5ADBA;
  text-shadow: 0 1px 0 #fff;
  text-decoration: none;
}
.block-1 {
  width: 850px;
  padding: 2rem;
  div {
    margin-bottom: 1rem;
  }
  h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #6B778C;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #050815;
  }
}
.block-2 {
  width: 330px;
  background-color: #F4F5F7;
  padding: 2rem;
  div {
    margin-bottom: 1rem;
  }
  h5 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #6B778C;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #050815;
  }
}

.close:focus, .close:hover {
  color: #00c261;
  text-decoration: none;
  cursor: pointer;
}
.date {
  margin-top: 13rem;
  * {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
.header-message {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DFE1E6;
}
.footer-message {
  input {
    border: 1px solid #DFE1E6;
    border-radius: 8px;
    width: 646px;
    padding: 10px 16px;
  }
  input::placeholder {
    color: #6B778C;
    font-weight: 200 !important;
  }
  button {
    width: 48px;
    margin-left: 1.5rem;
  }
}